.Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 40px;

  @include tablet {
    justify-content: start;
  }

  @include desktop {
    margin-bottom: 110px;
  }
}

.Navigation-Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  @include tablet {
    width: auto;
    margin-bottom: 0;
    justify-content: start;
  }
}

.Navigation-Logo {
  padding-left: 4px;

  font-family: Impact, sans-serif;
  font-weight: normal;
  font-size: 34px;
  color: white;
  text-transform: uppercase;
  letter-spacing: -0.03em;

  text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);


  &_blue {
    color: $color_blue;
  }

  @include tablet {
    margin-right: 8.4%;
  }

  @include desktop {
    margin-right: 16px;

    font-size: 40px;
  }
}

.Navigation-Text {
  width: 40%;

  font-size: 14px;
  line-height: 16px;

  @include tablet {
    font-size: 12px;
  }

  @include desktop {
    width: 35%;
  }
}

.Navigation-Tel {
  font-size: 24px;
  color: white;

  &_blue {
    color: $color_blue;
  }

  &:hover {
    .Navigation-Tel_blue {
      @include hover-yellow($border: false);
    }
  }

  @include tablet {
    margin-left: auto;

    font-size: 30px;
  }
}

.Navigation-Button {
  position: relative;

  padding: 5px 5px 5px 0;
  height: 25px;
  width: 29px;

  &::before {
    position: absolute;
    content: '';
    top: 5px;
    left: 0;

    width: 24px;
    height: 3px;

    background-color: white;

    box-shadow: 0 6px 0 white,
      0 12px 0 white;
  }

  @include tablet {
    order: -1;
    margin-right: 4.3%;
  }

  @include desktop {
    display: none;
  }
}

.Navigation-Menu {
  display: none;

  @include desktop {
    width: 45%;
    display: flex;
    justify-content: space-between;

    font-weight: bold;
    font-size: 16px;
  }
}

.Navigation-Menu a {
  color: white;

  @include hover-yellow($border: false);
}