$color_blue: #50b1d7;
$color_dark-blue: #1b92c1;
$color_yellow: #ffe640;
$color_gray: #555555;
$color_button-black: #313131;
$color_button-gray: #484848;

$breakpoint_tablet: 768px;
$breakpoint_desktop: 1360px;